@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');
@import url('./constants.css');
@import url('./header.css');
@import url('./footer.css');

.main {
  flex: 1 1 auto;
  background-color: var(--color-background);
}

.main__wrapper {
  max-width: var(--size-wrapper);
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  padding-bottom: 20px;
}

@media (max-width: 1200px) {
  .main__wrapper {
    padding: 0 20px 20px;
  }
}

.cart__title {
  font: var(--font-section);
  padding: 30px 0 12px;
}

.cart__container {
  display: flex;
  justify-content: space-between;
}

@media (max-width: 1050px) {
  .cart__container {
    flex-direction: column;
    align-items: center;
  }
}

.cart__list {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.cart__card {
  width: 633px;
  height: 218px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: var(--color-white);
  box-shadow: 0px 0px 20px rgb(0 0 0 / 10%);
  border-radius: 30px;
  position: relative;
  padding: 18px;
}

@media (max-width: 1050px) {
  .cart__card {
    width: 400px;
  }
}

@media (max-width: 480px) {
  .cart__card {
    width: 300px;
    height: 310px;
  }
}

.card__product {
  height: 136px;
  display: flex;
  align-items: center;
  gap: 25px;
}

@media (max-width: 480px) {
  .card__product {
    gap: 10px;
    flex-direction: column;
    align-items: flex-start;
  }
}

.card__img-wrapper {
  width: 146px;
  height: 100%;
}

.card__img {
  width: 100%;
  height: 100%;
  object-fit: scale-down;
}

.card__description {
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding-top: 34px;
}

.card__name {
  font: var(--font-card-name);
  color: var(--color-dark-gray);
}

.product__price {
  font: var(--font-product-price);
  color: var(--color-gray-light);
}

.card__buttons {
  width: 126px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card__decrement, .card__increment {
  width: 35px;
  height: 30px;
  background: var(--color-orange-light);
  border-radius: 50%;
  border: none;
  cursor: pointer;
  color: var(--color-white);
  font-size: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card__decrement {
  padding-bottom: 4px;
}

.card__counter {
  font: var(--font-price);
  color: var(--color-black);
}

.card__delete {
  position: absolute;
  top: 17px;
  right: 28px;
  border: none;
  background: none;
  cursor: pointer;
}

.card__total {
  position: absolute;
  bottom: 20px;
  right: 30px;
  font: var(--font-product-price);
  color: var(--color-dark-gray);
}

.cart__issue {
  padding-top: 10px;
}

.total {
  width: 349px;
  height: 114px;
  padding: 22px 16px 0 21px;
  display: flex;
  justify-content: space-between;
  background: var(--color-white);
  box-shadow: 0px 0px 20px rgb(0 0 0 / 10%);
  border-radius: 30px;
  position: relative;
}

@media (max-width: 480px) {
  .total {
    width: 300px;
  }
}

.total__title, .total__value {
  font: var(--font-product-price);
  color: var(--color-black);
}

.total__issue {
  width: 349px;
  height: 65px;
  background: var(--color-total);
  box-shadow: 0px 0px 20px rgb(0 0 0 / 25%);
  border: none;
  border-radius: 20px;
  position: absolute;
  bottom: -5px;
  left: 0;
  font: var(--font-price);
  text-align: center;
  color: var(--color-white);
  cursor: pointer;
  transition: all 0.5s;
}

@media (max-width: 480px) {
  .total__issue {
    width: 300px;
  }
}

.total__issue:hover {
  background: var(--color-orange);
}