:root {
    --font-logo: normal 700 25px/30px 'Montserrat';
    --font-counter: normal 500 15px/18px 'Montserrat';
    --font-link: normal 400 17px/21px 'Montserrat';
    --font-section: normal 600 20px/24px 'Montserrat';
    --font-price: normal 600 17px/21px 'Montserrat';
    --color-background: #EAEAEA;
    --color-white: #FFFFFF;
    --color-gray: #838383;
    --color-orange: #FFA542;
    --color-black: #000000;
    --size-block: 1440px;
    --size-wrapper: 1110px;
  }
  
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
  }
  
  html {
    height: 100%;
  }
  
  body {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    align-items: stretch;
  }